@model IEnumerable<PostOffice.API.DTOs.ParcelOrder.ParcelOrderBase>
@{
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
}
@foreach(var item in Model){
    <aside class="profile-nav alt">
<section class="card">
    <div class="card-header user-header alt bg-dark">
        <div class="media">
            <a href="#">
                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;">
            </a>
            <div class="media-body">
                <h2 class="text-light display-6">@item.sender_name</h2>
                <p>Order NO.@item.id</p>
            </div>
        </div>
    </div>


    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="#">Receiver Name <span class="badge badge-primary pull-right">@item.receiver_name</span></a>
        </li>
        <li class="list-group-item">
            <a href="#"> Receiver Address<span class="badge badge-danger pull-right">@item.receiver_address</span></a>
        </li>
        <li class="list-group-item">
            <a href="#">Payer <span class="badge badge-success pull-right">@item.payer</span></a>
        </li>
        <li class="list-group-item">
                @Html.ActionLink("Shipping", "Shipping", new {id = item.id})
        </li>
    </ul>

</section>
    </aside>
}
