@model IEnumerable<PostOffice.API.DTOs.ParcelService.ParcelServiceBaseDTO>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Service Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Delivery Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model){
                    <tbody>
                            <tr>
                                <td>@item.name</td>
                                <td>@item.description</td>
                                <td>@item.status</td>
                                <td>@item.delivery_time</td>
                                <td>@Html.ActionLink("Edit", "Edit", new {id = item.service_id})</td>
                            </tr>
                       
                    </tbody>
                    }
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

